<!DOCTYPE html>
<html>
    <head>
        <title>Task Manager Fastapi</title>
         
        <link rel="stylesheet" href="/static/style.css">
    </head>

    <body>
    
        <div id="page-title">
            <h1>Fastapi Tasks Manager</h1>
        </div>
        
        <div id="task-create-wrapper">
            
            <h3>{{ task.title }}</h3>
            <span style="font-weight: bold;">Created at: </span>{{ task.created_at }}<br>
            {% if task.updated_at %}<span style="font-weight: bold;">Updated at: </span>{{ task.updated_at }}{% endif %}
            
            <form action="/update-task/{{ task.id }}" method="post" id="update-task-form">
                <div class="create-task-input">
                    <label for="title">Title</label>
                    <input type="text" 
                    name="title" 
                    value="{{ task.title }}"
                    required minlength="5"
                    >
                </div>
                
                <div>
                    <label for="description-input">Description</label>
                    <textarea id="description-input" 
                    name="description" 
                    rows="4"
                    required minlength="5"
                    >{{ task.description }}</textarea>
                </div>                
                
                <div class="create-task-input">
                    <label for="status">Status</label>
                    <select type="" name="status">
                        <option value="created" id="created-opt" {% if task.status == "created" %} selected {% endif %}>Created</option>
                        <option value="processing" id="processing-opt" {% if task.status == "processing" %} selected {% endif %}>Processing</option>
                        <option value="completed" id="completed-opt" {% if task.status == "completed" %} selected {% endif %}>Сompleted</option>
                    </select>
                </div>                

                <button type="submit" style="margin-top: 10px;">Save</button>
            </form>
        </div>
    
    </body>
</html>